.jumbotron {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-bottom: 0;
}

.leFont {
  font-family: "Quintessential", cursive;
}
