<header>
  <h1>Welcome to your room of the library; you can give up to 3 other players
    directions to your room by sending them your library's name:</h1><span
    id="lobbyCodeDisplay"
  ></span>
</header>