<header>
  <div
    class="jumbotron jumbotron-fluid leFont"
    style="background-image: url(./assets/images/kittyoption.jpeg);"
  >
    <div class="container">
      <h1 class="display-4">Welcome to TaleSpinner</h1>
      <h2>A Storytelling game for everyone</h2>
      <p><a type="button" class="btn btn-secondary" href="/home">Start your
          adventure...</a></p>
    </div>
  </div>
</header>