<body class="jumbotron container formatHelp" id="jumbo-main">
  <!---------------Input chat box--------------->
  <div class="containter-fluid no-padding">
    <div class="row">
    <div
      class="card chatbox text-center text-dark mainFont w-50 col top mh-100 position-absolute top-0 start-0 formatHelp overflow-auto"
      style="width: 18rem;">
      <div class="card-body chat-container mh-100 formatHelp">
        <h2 class="text-center mh-100 formatHelp">Spin Your Tale!</h2>
        <h5 class="card-title chat-header mh-100 formatHelp">Room Name</h5>
        <p class="formatHelp mh-100">Welcome</p>
        <a href="/home" class="btn mainFont mh-100 formatHelp" id="leave-btn">Leave Room</a>
        <ul class="card-text chat-main chat-messages mainFont mh-100 formatHelp" id ="chat-container">MESSAGES APPEAR HERE!<ul>
      </div>
      <div class="chat-form-container ms-5 mh-100 formatHelp" style="width: 45%">
      
        <form class="formatHelp mh-100" id="chat-form">
          <input id="msg" type="text" placeholder="Type a Message" required autocomplete="off" />
          <a href="#" class="btn sml btn-secondary mh-100" id="submitBtn">Hit Enter to Send</a>
        </form>
      </div>
    </div>
    <!---------------Book--------------->
    <div class="book-container leFont">
       <img src="../images/standingbook_nobg_hd.png" class="card-img container" alt="An open book open and propped up on a stand"/>
      <div class="text-container">
        <h2 class=" content" id="title">Library Title</h2>
        <div class="content" id="text">The pain itself is the love of the pain, the main ecological
          problems, but I give this kind of time to fall down, so that some
          great pain and pain. In order that for the most part, any one of us
          will come to the exercise of any kind of employment except to take
          advantage of the objectives from it.</div>
      </div>
      <!-- Continued Container so text appears on both sides  -->
      <!-- <div class="text-container" id="continue-container">
        <div class="content" id="continued">generated content</div>
      </div> -->
    </div>
    </div>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
    integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
  <script src="/js/style.js"></script>
</body>