<div class='row align-items-start'>
  <div class='col-md-6'>
    <h2>Log In</h2>

    <form class='form login-form'>
      <div class='form-group'>
        <label for='email-login'>E-mail Address:</label>
        <input
          class='form-input'
          type='text'
          autocomplete='current-email'
          id='email-login'
        />
      </div>
      <div class='form-group'>
        <label for='password-login'>Password:</label>
        <input
          class='form-input'
          type='password'
          autocomplete='current-password'
          id='password-login'
        />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Log In</button>
      </div>
    </form>
  </div>
  <div class='col-md-6'>
    <h2>Sign Up</h2>
    <form class='form signup-form'>
      <div class='form-group'>
        <label for='id-signup'>Display Name:</label>
        <input class='form-input' type='text' id='id-signup' />
      </div>
      <div class='form-group'>
        <label for='username'>Email:</label>
        <input
          name='username'
          class='form-input'
          autocomplete='new-email'
          type='text'
          id='username'
        />
      </div>
      <div class='form-group'>
        <label for='password-signup'>Password:</label>
        <input
          class='form-input'
          type='password'
          autocomplete='new-password'
          id='password-signup'
        />
      </div>
      <div class='form-group'>
        <label for='password-signup'>Confirm:</label>
        <input
          autocomplete='new-password'
          class='form-input log'
          type='password'
          id='password-signup-confirm'
        />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>