ul {
  list-style: none;
}

nav {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #182848,
    #4b6cb7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #182848,
    #4b6cb7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-item {
  width: 100px;
}

.modal-button {
  background-color: 182848;
}

.form {
  width: 100%;
}

.form .form-group {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

.form .form-input,
.form .form-textarea {
  display: block;
}

.form label,
.form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}

.form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

.logo {
  max-height: 100px;
}

@media only screen and (max-width: 400px) {
  .logo {
    max-height: 70;
  }
}

li {
  margin-bottom: 10px;
}

.topMargin {
  margin-top: 150px;
}

/*  ---------- Jumbotrons  ---------- */
.jumbotron {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#jumbo-landing {
  background-image: url('../images/landingPageBackground.webp');
}

#jumbo-lobby {
  background: url('../images/lobbyBackground.webp') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#jumbo-main {
  background-image: url('../images/roomBackground.webp');
  height: 100vh;
}

/* ---------- Fonts ---------- */
.leFont {
  font-family: 'Quintessential', cursive;
  color: black;
}

.mainFont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

/*  ---------- Book  ---------- */

.book-container {
  width: 20%;
  color: black;
  font-size: 24px;
}

#prompt {
  left: 47%;
  top: 22%;
  max-height: 60%;
}

#user-text {
  left: 72%;
  top: 12%;
}

.dyn-height.book-container {
  max-height: 60%;
}

.dyn-height {
  overflow-y: auto;
}

#title {
  top: 150px;
  left: 350px;
}

form#msg {
  margin-bottom: 5%;
}
