h2 {
  text-align: center;
}

nav {
  margin: auto;
}

.form {
  width: 100%;
}

.form .form-group {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

.form .form-input,
.form .form-textarea {
  display: block;
}

.form label,
.form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}

.form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

.container.container-fluid {
  width: 92%;
}
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.form .form-input.form-input-squared {
  border-radius: 0;
}
ul {
  list-style: none;
}

#users {
  display: inline;
}

li {
  margin-bottom: 10px;
}

#jumbo-main {
  position: absolute;
}

.card {
  text-align: center;
  position: relative;
  display: inline;
  margin: auto;
}

/* .card-body {
  margin-bottom: 15px;
} */

.lobby-title {
  border-radius: 3%;
}

.topMargin {
  margin-top: 150px;
}

.inlinedatshit {
  display: inline;
}

/*  ---------- Jumbotrons  ---------- */
.jumbotron {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#jumbo-landing {
  background-image: url('../images/kittyoption.jpeg');
}

#jumbo-lobby {
  background-image: url('../images/chairbooks.jpeg');
}

#jumbo-main {
  background-image: url('../images/desk_book.jpg');
}

/* ---------- Fonts ---------- */
.leFont {
  font-family: 'Quintessential', cursive;
  color: black;
}

.mainFont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

/* ---------- Buttons ---------- */
.btn {
  margin: 5px 25px;
}

#searchBtn {
  margin: auto;
}

#searchBtn {
  margin-top: 10px !important;
}

.title-holder {
  background-color: gray;
}

#history,
#results {
  top: 32px;
}

.content {
  text-align: center;
  color: black;
  margin-left: 30%;
  margin-top: -50%;
}

/*  ---------- Chat Box ---------- */
.chat-container {
  height: 50vh;
}
#chatCont {
  margin-left: 5%;
  width: 30%;
  margin-top: -3%;
}
.chatbox {
  height: 600px;
}

#login {
  text-align: center;
}

.log {
  margin-top: 3px;
  margin-bottom: 5px;
}

ul#chat-container {
  height: 40vh;
  overflow-y: auto;
}

/*  ---------- Book  ---------- */

.book-container {
  width: 20%;
  color: black;
  font-size: 24px;
}

#prompt {
  left: 47%;
  top: 22%;
  max-height: 60%;
}

#user-text {
  left: 72%;
  top: 12%;
}

.dyn-height.book-container {
  max-height: 60%;
}

.dyn-height {
  overflow-y: auto;
}

#title {
  top: 150px;
  left: 350px;
}

#story-text {
  width: 300px;
  height: 500px;
  color: black;
}

h3#library-name {
  display: block;
  margin: auto;
}

form#msg {
  position: relative;
  margin-bottom: 5%;
}

.hidden {
  display: none;
}
