h2 {
  text-align: center;
}

nav {
  margin: auto;
}

ul {
  list-style: none;
}

#users {
  display: inline;
}

li {
  margin-bottom: 10px;
}

#jumbo-main {
  position: absolute;
}

.card {
  text-align: center;
  position: relative;
  display: block;
  margin: auto;
}

/* .card-body {
  margin-bottom: 15px;
} */

.lobby-title {
  border-radius: 3%;
}

.row {
  margin-top: 200px;
}

.inlinedatshit{
  display: inline;
}

/*  ---------- Jumbotrons  ---------- */
.jumbotron {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#jumbo-landing {
  background-image: url("../images/kittyoption.jpeg");
}

#jumbo-lobby {
  background-image: url("../images/chairbooks.jpeg");
}

#jumbo-main {
  background-image: url("../images/desk_book.jpg");
}

/* ---------- Fonts ---------- */
.leFont {
  font-family: "Quintessential", cursive;
}

.mainFont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ---------- Buttons ---------- */
.btn {
  margin: 5px 25px;
}

#searchBtn {
  margin: auto;
}

#searchBtn {
  margin-top: 10px !important;
}

/* form {
  margin-right: 15px;
} */

.title-holder {
  background-color: gray;
}

#history,
#results {
  top: 32px;
}

/* .container {
  position: absolute;
} */

.content {
  text-align: center;
  color: black;
  margin-left: 30%;
  margin-top: -50%;

}

/*  ---------- Chat Box ---------- */
.chatbox {
  margin-left: 10%;
  height: 50%;
  overflow: hidden;
  position: absolute;
}

.chat-form-container {
  position: absolute;
  left: 140px;
  width: 100%;
}

#chat-box-height {
  height: 475px;
}

/*  ---------- Book  ---------- */
.text-container {
  position: relative;
  height: 485px;
  width: 100px;
  top: 250px;
  left: 275px;
}

.book-container {
  position: relative;
  margin-left: 85%;
  width: 300px;
  margin-top: -8%;
}

#title {
  top: 150px;
  left: 350px;
}

#story-text {
  width: 300px;
  height: 500px;
  color:black
}

div.card.chatbox {
  margin-left: 7%;
}

h3#library-name {
  display: block;
  margin: auto;
 
}

form#msg {
  position: relative;
  margin-bottom: 5%;
}

/* ---------- Media Query ---------- */

/* @media screen and (min-width: 360px) {
  .jumbotron {
    color: white; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
  } 
   #jumbo-main {
    background-image: url("../images/largebook.jpeg");
    grid-template-columns: auto;
  }

  .book-container {
    position: relative;
    left: 425px;
    width: 100px;
    top: 150px;
  }
  .chat-box-height {
    height: 105px;
  }

} */

/* @media screen and (min-width: 576px) {
  .jumbotron {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  #jumbo-main {
    background-image: url("../images/largebook.jpeg");
  }
} */

/* @media screen and (min-width: 768px) {
  .jumbotron {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  #jumbo-main {
    background-image: url("../images/desk_book.jpg");
  }
} */

/* @media screen and (min-width: 992px) {
  .jumbotron {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  #jumbo-main {
    background-image: url("../images/desk_book.jpg");
  }
} */

/* @media screen and (min-width: 1200px) {
  #jumbo-main {
    background-image: url("../images/desk_book.jpg");
  }
} */

/* @media screen and (min-width: 1400px) {
  #jumbo-main {
    background-image: url("../images/desk_book.jpg");
  }
} */



/* ---------- Format help for creating the layout ---------- */
.formatHelp {
  border: 3px solid red;
}